# Chain selectors
ETHEREUM_TESTNET_SEPOLIA_SELECTOR=16015286601757825753
TON_TESTNET_SELECTOR=1399300952838017768

# EVM (Sepolia) configuration
ETHEREUM_TESTNET_SEPOLIA_WALLET_KEY=0000000000000000000000000000000000000000000000000000000000000000
ETHEREUM_TESTNET_SEPOLIA_ENDPOINT=https://ethereum-sepolia-rpc.publicnode.com
ETHEREUM_TESTNET_SEPOLIA_ROUTER=0x
ETHEREUM_TESTNET_SEPOLIA_RECEIVER=0x

# TON (Testnet) configuration
TON_TESTNET_WALLET_KEY=word1 word2 ... word23 word24
TON_TESTNET_ENDPOINT=https://ton.org/testnet-global.config.json
TON_TESTNET_ROUTER=EQDtF...74p4q2
TON_TESTNET_RECEIVER=EQDtF...74p4q2

# Test message
MESSAGE=CCIP staging test message

